
{% trans_default_domain 'FOSUserBundle' %}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Tableau de bord</h1>
        </div>
    </div>
    <!-- /.row -->
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-8">
            <!-- /.panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Timeline : Mise à jour.
                </div>
                <div class="panel-body">
                    <ul class="timeline">
                        <li class="timeline-inverted">
                            <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Amélioration du tableau de bord !</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Afin de rentre votre navigation la plus optimal possible, nous avons fait plusieurs amélioration à celui-ci.</p>
                                    <p>Vous pouvez désormais trouver les informations complémentaires à vos paris, avec un vrai graphique.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-badge danger"><i class="fa fa-bomb"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Attaque Ddos</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Que quelqu'un essaye de nous Ddos, lal, nt.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-badge info"><i class="fa fa-save"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Upgrate des serveurs.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Grâce à votre participation, vous êtes de plus en plus à parier sur Incom e-Sport. Nous avons donc changer de serveurs afin de rentre le site le plus optimal possible.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-badge success"><i class="fa fa-graduation-cap"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title"><strong>BETA :</strong> Incom e-Sport est en ligne !</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Comme vous pouvez le voir, le site internet de Paris en ligne dans le domaine de l'esport est en ligne.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Nos derniers Tweets
                    <a class="twitter-timeline" href="https://twitter.com/Incomesport" data-widget-id="595587840249110528">Tweets de @Incomesport</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Les Réseaux Sociaux de Incom e-Sport
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body rs">
                    <h5>Suivez-nous pour garder l'actualité de Incom e-Sport !</h5><hr>
                    <a href="https://www.facebook.com/pages/Incom-Esport/407886206038411"><button type="button" class="btn btn-primary btn-circle btn-lg"><i class="fa fa-facebook"></i>
                        </button></a>
                    <a href="https://twitter.com/Incomesport"><button type="button" class="btn btn-info btn-circle btn-lg"><i class="fa fa-twitter"></i>
                        </button></a>
                    <button type="button" class="btn btn-warning btn-circle btn-lg"><i class="fa fa-twitch"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->

</div>


