{% extends '::base.html.twig' %}
{%  block body %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Incom eSport - Connexion</title>
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <img class="logo" alt="Logo de incom esport" src="{{ asset ('img/Incom_logo_blanc_web.png') }}">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="index.html">Accueil</a>
                </li>
                <li>
                    <a href="#">Les Paris</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Les Jeux <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">League of Legends</a>
                        </li>
                        <li>
                            <a href="#">CS:GO</a>
                        </li>
                        <li>
                            <a href="#">StarCraft II</a>
                        </li>
                        <li>
                            <a href="#">Heroes of the Storme.</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="blog.html">Blog</a>
                </li>
                <li class="active">
                    <a href="connect.html">Connexion</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Mot de passe oublié
                <small>Incom eSport.</small>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <i class="fa fa-unlock fa-5x"></i>
                            <h3 class="text-center">Votre mot de passe est oublié ?</h3>
                            <p>Si vous avez oublié votre mot de passe <br /> réinitialiser le ici.</p>
                            <div class="panel-body">

                                <form class="form"><!--start form--><!--add form action as needed-->
                                    <fieldset>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                                <!--EMAIL ADDRESS-->
                                                <input id="emailInput" placeholder="Votre adresse Email" class="form-control" type="email" oninvalid="setCustomValidity('Adresse e-mail non reconnue')" onchange="try{setCustomValidity('')}catch(e){}" required="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input class="btn btn-lg btn-primary btn-block" value="Retrouver mon mot de passe !" type="submit">
                                        </div>
                                    </fieldset>
                                </form><!--/end form-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
{%  endblock %}